.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

/* Neon glowing amount */
.neon-amount {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

/* Neon Button */
.neon-btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    color: #fff;    
    background: #111;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 200px;
    text-align: center;

}

.neon-btn:hover {
  transform: scale(1.009);
  box-shadow:   0 0 10px #00ffea,
              0 0 20px #ff0057,
              0 0 30px #fffd44,
              0 0 40px #00ffea,
              0 0 50px #ff0057;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* SweetAlert2 Neon */
.neon-title {
  color: #00ffea;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow:
    0 0 5px #00ffea,
    0 0 10px #ff0057,
    0 0 20px #fffd44;
}

.neon-text {
  color: #fff;
  text-shadow:
    0 0 5px #00ffea,
    0 0 10px #ff0057;
}

.neon-error {
  color: #ff0057;
  font-weight: bold;
  text-shadow:
    0 0 5px #ff0057,
    0 0 10px #ff0000,
    0 0 15px #ff44aa;
}
